/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

.quintessence {
	color: #d62100;
	font-weight: bold;
}

.quintessence_grey {
	color: #455560;
	font-weight: bold;
}

#menu2 {
	margin: 0;
	padding: 0;
	text-align: right;
	text-transform: uppercase;
	font-size:9px;
	height: 100px;
	width: 300px;
	float: right;
	padding-top: 0px;
	vertical-align: baseline;
	color: #d62100;
	font-weight: bold;
	}
	
#menu2 a{
	color: #d62100;
	}

#menu2 a:visited{
	color: #d62100;
	}
	
#menu2 a:hover{
	color: #455560;
	}

#menu2inner {
	margin: 0;
	padding: 0;
	font-size:9px;
	height: 100px;
	width: 300px;
	padding-top: 0px;
	vertical-align: baseline;
	}

#menu3 {
	margin: 0;
	padding: 0;
	text-align: right;
	text-transform: uppercase;
	font-size:9px;
	height: 100px;
	width: 443px;
	float: right;
	vertical-align: text-bottom;
	}
	
#menu3 p {
	vertical-align: text-bottom;
	}

#menu3 a {
	color:#455561;	}
#menu3 a:visited {
	color:#455561;	}
#menu3 a:hover {
	color:#d62100;	}
#menu3 a:selected {
	color:#455561;	}

body {
	background: url(images/img01.jpg) repeat-x top left;
}

body, th, td, input, textarea {
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	letter-spacing: 0.01em;
}

.post img  {
	display:block;
	margin:6px 20px 10px 0px;
	border: 0px solid #CCCCCC;
	padding: 2px;
}

#support img  {
	display:block;
	margin:6px 20px 10px 0px;
	border: 1px solid #CCCCCC;
	padding: 2px;
}


form {
}

fieldset {
}

input, textarea {
	font-weight: bold;
}

input.text {
	padding: 2px 5px;
	background: #F8FAEB;
	border-top: 1px solid #4D5719;
	border-left: 1px solid #4D5719;
	border-right: 1px solid #626456;
	border-bottom: 1px solid #626456;
}

input.button {
	background: #3C7BCF;
	border-top: 1px solid #3C7BCF;
	border-left: 1px solid #3C7BCF;
	border-right: 1px solid #3C7BCF;
	border-bottom: 1px solid #3C7BCF;
	color: #FFFFFF;
}

logo {position: absolute; top: 46px; right: 80px; }

h1, h2, h3 {
	margin-top: 1.5em;
	color: #B10961;
}

h1 {
	letter-spacing: -.075em;
	font-size: 3em;
}

h2 {
	letter-spacing: -0.05em;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: bold;
	color: #455560;
}

h3 {
	font-size: 1em;
	color: #d62100;
	margin-bottom: -15px;
}

p, ul, ol {
	margin-top: 1.5em;
	line-height: 1.8em;
	font-size: 1em;
}

ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	text-decoration: none;
	color: #8B0F03;
}

a:hover {
	border: none;
}

h1 a, h2 a, h3 a {
	border: none;
	text-decoration: none;
	color: #8B0F03;
}

h1 a:hover, h2 a:hover, h3 a:hover {
	background: none;
	color: #ef3f35;
}

hr {
	display: none;
}

/* Wrapper */

#wrapper {
}

/* Header */

#header {
	width: 900px;
	margin: 0 auto;
	background: url(images/header.png) no-repeat top left;
	height: 100px;
}

#menu {
	height: 100px;
	width: 900px;
	background-image: url(images/header.png);
	vertical-align: bottom;
}



#search {
	float: right;
	width: 260px;
	margin: 0px;
	padding-top: 7px;
}

#search fieldset {
	border: none;
}

#search #s {
	width: 160px;
}

#search #x {
	width: 80px;
}

/* Logo */

#logo {
	width: 900px;
	height: 175px;
	margin: 0 auto;
}

#logo h1, #logo h2 {
	margin: 0;
	padding: 0;
	text-transform: lowercase;
}

#logo h1 {
	padding: 90px 5px 0 0px;
	font-size: 48px;
	color: #FFFFFF;
}

#logo h2 {
	padding: 0px 0 0 0px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #BD0A70;
}

#logo p {
	clear: left;
	margin: 0;
	padding: 0 0 0 20px;
	line-height: normal;
	font-size: 1.2em;
	font-weight: bold;
	color: #C2C5B1;
}

#logo a {
	color: #FFFFFF;
}

/* Page */

#page {
	width: 900px;
	margin: 0 auto;
	padding-top: 10px;
	background: #FFFFFF;
	border-top: none;
}

/* Content */

#content {
	float: left;
	width: 200px;
	background-color: #FFFFFF;
}

.post {
}

.post .title {
	margin: 0;
	font-weight: normal;
}

.post h1.title {
	height: 40px;
	font-size: 24px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #d62100;
}

.post .entry {
	padding: 0 25px 30px 15px;
}

.post .meta {
	margin: 0;
	padding: 0px 0px 0px 15px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CFCFCF;
}

.post .meta a {
	color: #75043D;
}

.post .links {
	margin: 0;
	padding: 0px 0px 15px 15px;
}

.post .tags {
	margin: 0;
	background: #F2F2F2;
	padding: 5px 10px 5px 15px;
	text-transform: uppercase;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.post .links a, .post .tags a {
	border: none;
}

.post ul.bullets {
	list-style-image: url('./images/bullet.png');
	padding-left: 20px;
	line-height: 2em;
	text-indent: 0px;
	list-style-position: outside;
	margin-bottom: 0em;
}

.post ul.bullets li {
	margin-bottom: 0em;
		padding-left: 10px;
}

/* Recent Posts */

#recent-posts {
}

#recent-posts h2 {
	margin: 0;
	padding: 15px 0  0 0px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: #B10961;
}

#recent-posts h3 {
	margin: 0;
	padding: 15px 0  0 0px;
	font-size: 13px;
}

#recent-posts p {
	margin: 0 0 10px 0;
	padding: 15px 0  20px 0px;
	border-bottom: #E7E7E7 1px solid;
	line-height: 18px;
	font-size: 13px;
}

#recent-posts a {
	background: #BB096B;
	padding: 3px 15px 3px 10px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

#recent-posts h3 a {
}

/* Sidebars */

.sidebar {
	float: left;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	margin-bottom: 2em;
}

.sidebar li ul {
}

.sidebar li li {
	margin: 0;
}

.sidebar li h2 {
	margin: 0 0 10px 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #B10961;
}

#sidebar1 {
	width: 650px;
	padding: 0px 20px 0px 20px;
	z-index: 10;
}

#sidebar2 {
	width: 180px;
	padding: 0px 20px 0px 20px;
}

#sidebar2 li h2 {
	margin: 0 0 1em 0;
	padding: 15px 0  0 0px;
	height: 20px;
}

#sidebar2 li ul {
	line-height: normal;
}

#sidebar2 li li {
	padding: 5px;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#sidebar2 li a {
	background: url(images/img04.gif) no-repeat left 50%;
	border: none;
	padding-left: 10px;
	text-transform: uppercase;
}

#sidebar2 li a:hover {
	border: none;
	padding-left: 10px;
}

/* Calendar */

#calendar {
	margin: 0 auto;
}

#calendar caption {
	font-weight: bold;
}

#calendar table {
	width: 220px;
	text-align: center;
	border-collapse: collapse;
}

#calendar thead th {
	background: #CCCCCC;
	color: #FFFFFF;
}

#calendar tbody td {
	background: #EEEEEE;
}

#calendar #today {
	background: #B8D03B;
	font-weight: bold;
	color: #FFFFFF;
}

#calendar a {
	font-weight: bold;
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 120px;
	padding-top: 20px;
	background-image: url(images/img03.jpg);
}

#footer p {
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

#footer a {
	padding: 2px 7px;
	color: #FFFFFF;
}


/*  slide menu */
ul#slide {padding:0; margin:0; list-style:none; width:200px; height:460px; border:0px solid #f2ec94; position:relative; overflow:hidden;}
ul li div {position:absolute; left:-9999px; background:#f2ec94;}
#slide li.top {display:block; float:left; height:24px; line-height:24px; width:200px; color:#FFFFFF; background:#455560; text-decoration:none; font-family: verdana, sans-serif; font-size:12px; border-bottom:1px solid #eee; text-indent:10px;}
#slide li.current {color:#eee; background:#ef3f35;}
#slide li.current {height:275px;}
#slide li.current div {position:static; height:200px; width:170px; padding:15px; line-height:1.2em; font-family: verdana, sans-serif; text-indent:0;}
#slide li.current div img {display:block; margin:5px 0 8px 0;}
#slide li.current div img.fLeft {clear:left; float:left; display:block; margin:8px; margin-right:8px;}
#slide li.current div h3 {font-size:13px; color:#000; padding:0; margin:0;}
#slide li.current div p {font-size:12px; color:#888; line-height:1.4em; padding:10px 0; margin:0;}
#slide li.current div a {color:#00c; text-decoration:none; font-size:11px;}
#slide li.current div a:hover {text-decoration:underline; background:#fff;color:#00c;}
#slide li.current div a.big {display:block; height:30px; line-height:30px; border-top:1px solid #ddd; font-size:14px; color:#8b0f03; text-decoration:none; text-indent:5px;}
#slide li.current div a.big:hover {color:#ef3f35; font-size:14px; text-decoration:none;} 
#slide li.current div dl {border-bottom:0px solid #9fa66a; margin:20px 0 0 0; padding-bottom:3px;}
#slide li.current div dt {font-size:11px; font-weight:bold; color:#ef3f35;}
#slide li.current div dd {padding:0; margin:0; line-height:1.5em; font-size:11px; color:#666;}
#slide li.current div dd a {color:#8b0f03; text-decoration:none;}
#slide li.current div dd a:hover {color:#ef3f35; text-decoration:underline;}

/* Slideshow */.slide { padding:12px; margin: 0; height: 175px; display:block; overflow:hidden;position: relative; background:#000;width:900px; }
#slideshow, #slideshow .slide {height:175px;min-height:175px}
#slideshow {
	padding:0;
	list-style:none;
	margin:0 0 1em;
	overflow:hidden;
	min-height:175px;
	z-index: -10;
}
#slideshow .slide {
	padding:0;
	width:900px;
	text-align: center;
	min-height:175px;
	background:none;
	z-index: -3;
}
#slideshow .slide h4 {margin: 0 0 .5em 0;text-transform:uppercase;padding:0 16px;}
#slideshow .slide img {display:block;max-width:900px;text-align:center;margin:0 auto;}
